main{
    display: flex;
    width: 95%;
    height: 100%;
    justify-self: center;
}

.left-section{
    width: 250px;
    padding: 10px;
}
.left-section .book-cover{
    width: 200px;
}
.left-section p{
    color: black;
}
.left-section span{
    color: rgb(16, 62, 100);
}

.right-section{
    padding: 10px;
    overflow: hidden;
}
.right-section .author{
    color: rgb(71, 87, 151);
    margin-bottom: 10px;
}
.right-section .synopsis{
    margin-bottom: 20px;
}
.right-section .section{
    margin-top: 20px;
}