*{margin: 0;}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    gap: 20px;
}
nav{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 5px;
}
nav ul{
    display: flex;
}
header ul li{
    list-style: none;
    padding: 10px;
}