*{margin: 0px;}

.content{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #ccfaca;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 10px 40px;
    gap: 15px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: #8bf188;
}
form input{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    height: 25px;
}
form input::placeholder{
    font-size: 11pt;
}
form button{
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: medium;
    font-size: 14pt;
    margin-top: 10px;
    background-color: #2ff328;
    color: black;
}
form button:hover{
    background-color: black;
    color: #2ff328;
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #23961f;
    color: black;
    background-image: url(assets/bookshelf-background.jpg);
    background-size: cover;
    background-position: center;
}
aside h1{
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32pt;
    color: white;
    text-shadow: -2px -2px black, 2px -2px black, -2px 2px black, 2px 2px black;
}