*{
    margin: 0;
    --background_color: mintcream;
    --main_color: steelblue;
    --main_color2: rgb(16, 62, 100);
    --accent_color: rgb(50, 67, 135);
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background_color);
    color: var(--main_color2);
}
header{
    position: sticky;
    top: 0px;
    z-index: 2;
    width: 100%;
}
.header-top{
    color: steelblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--main_color);
}
.header-top form{
    position: relative;
    background-color: var(--background_color);
    border: 1px solid black;
    border-radius: 20px;
    padding: 0px, 10px;
    width: 250px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-top form:focus-within{
    border: 2px solid black;
}
.header-top form button{
    position: relative;
    top: 3px;
    background-color: unset;
    border: unset;
}
.header-top form input{
    background-color: unset;
    border: unset;
    width: 100%;
    height: 100%;
    font-size: 11pt;
    padding-left: 15px;
}
.header-top form input:focus{
    outline: unset;
}
.header-top form input::placeholder{
    text-align: center;
}
nav{
    width: 100%;
}
nav ul{
    display: flex;
    background-color: var(--background_color);
}
nav ul li{
    list-style: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: inherit;
}


main .hero{
    position: relative;
    justify-self: center;
    width: 95%;
    overflow: hidden;
}
.hero .banner-scroller{
    display: flex;
    position: relative;
}
.hero .banner{
    width: 100%;
}


main .section{
    position: relative;
    padding: 10px;
    overflow: hidden;
    justify-self: center;
    width: 90%;
}
main .section .book-array{
    display: flex;
    padding: 10px;
    gap: 50px;
    overflow-x: auto;
    scrollbar-width: none;
}
main .section .book{
    transition: scale, 0.3s;
}
main .section .book:hover{
    transform: scale(1.1);
}
main .section .scroll-left-button, main .section .scroll-right-button{
    position: absolute;
    align-self: center;
    z-index: 1;
    height: 30%;
    width: 100px;
    opacity: 0.5;
    border: unset;

    &:hover{
        opacity: 0.9;
    }

    &>img{
        width: 50%;
        rotate: 90deg;
    }
}
main .section .scroll-left-button{
    left: 10px;
    visibility: hidden;
}
main .section .scroll-right-button{
    right: 10px;
    &>img{
        rotate: -90deg;
    }
}
main .section hr{
    border: 1px solid var(--accent_color);
}



footer{
    background-color: rgb(130, 183, 227);
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
footer .socials{
    & p{
        display: flex;
        align-items: center;
        margin: 3PX;
        gap: 5px;
    }
}
footer .copyright{
    position: absolute;
    bottom: 10px;
}