*{
    margin: 0;
    --background_color: white;
    --main_color: greenyellow;
    --accent_color: black;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background_color);
    color: black;
}
header{
    position: sticky;
    top: 0px;
    z-index: 1;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--main_color);
}
.header-top form input{
    background-color: var(--background_color);
    border: 1px solid black;
    border-radius: 20px;
    padding: 0px, 10px;
    width: 250px;
    height: 25px;
}
.header-top form input::placeholder{
    font-size: 11pt;
    text-align: center;
}
nav{
    width: 100%;
}
nav ul{
    display: flex;
    background-color: var(--background_color);
}
nav ul li{
    list-style: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: inherit;
}
nav li img{
    /* filter: invert(); */
}


main .section{
    padding: 10px;
    overflow: hidden;
}
main .section .book-array{
    display: flex;
    padding: 10px;
    gap: 50px;
}
main .section .book{
    transition: scale, 0.3s;
}
main .section .book:hover{
    transform: scale(1.1);
}