*{
    margin: 0;
    --background_color: mintcream;
    --main_color: rgb(70, 130, 180);
    --main_color2: rgb(16, 62, 100);
    --accent_color: rgb(50, 67, 135);
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background_color);
    color: var(--main_color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    position: sticky;
    top: 0px;
    z-index: 2;
    width: 100%;
}
.header-top{
    color: steelblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--main_color);
    background-color: var(--background_color);
}
.header-top form{
    position: relative;
    background-color: var(--background_color);
    border: 1px solid var(--main_color2);
    border-radius: 20px;
    padding: 0px, 10px;
    width: 250px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-top form:focus-within{
    border: 2px solid var(--main_color2);
}
.header-top form button{
    position: relative;
    top: 3px;
    background-color: unset;
    border: unset;
}
.header-top form input{
    background-color: unset;
    border: unset;
    width: 100%;
    height: 100%;
    font-size: 11pt;
    padding-left: 15px;
}
.header-top form input:focus{
    outline: unset;
}
.header-top form input::placeholder{
    text-align: center;
    color: var(--accent_color);
}
nav{
    width: 100%;
    background-color: var(--background_color);
}
nav ul{
    display: flex;
    justify-self: center;
    gap: 5px;
    padding: 5px;
    background-color: var(--background_color);
    /* background-color: green; */
}
nav ul li{
    list-style: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: inherit;
    border-radius: 20px;
}
nav ul li:hover{
    background-color: lightblue;
    color: blue;
    /* box-shadow: 0 0 8px 3px blue; */
}
.hovered{
        background-color: lightblue;
        color: blue;
    }
.nav-drop-down{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--background_color);
    border: 2px solid var(--accent_color);
    width: 500px;
    gap: 5px;
    justify-self: center;
    position: absolute;
    visibility: hidden;
    & button{
        border: unset;
        background-color: var(--background_color);
        color: inherit;
        font-size: medium;
        height: 30px;
    }
    & button:hover, .hovered{
        background-color: lightblue;
        color: blue;
    }
}

.non-fiction-drop-down{
    width: 550px;
}


main{
    flex: 1;
}

main .hero{
    position: relative;
    justify-self: center;
    width: 95%;
    overflow: hidden;
    border-radius: 15px;
}
.hero .banner-scroller{
    display: flex;
    position: relative;
}
.hero .banner{
    width: 100%;
}


main .section{
    position: relative;
    padding: 10px;
    overflow: hidden;
    justify-self: center;
    width: 90%;
}
main .section .book-array{
    display: flex;
    padding: 15px;
    gap: 40px;
    overflow-x: auto;
    scrollbar-width: none;
}
main .book{
    background-color: white;
    box-shadow: 0px 1px 10px var(--accent_color);
    padding: 6px;
    border-radius: 10px;
    min-width: 130px;
    overflow-x: hidden;
    transition: scale, 0.3s;
}
main .book:hover{
    transform: scale(1.1);
}
main .book .book-cover{
    border-radius: 10px;
}
main .book .author{
    font-size: 10pt;
}
main .section .scroll-left-button, main .section .scroll-right-button{
    position: absolute;
    align-self: center;
    z-index: 1;
    height: 30%;
    width: 100px;
    opacity: 0.5;
    border: unset;

    &:hover{
        opacity: 0.9;
    }

    &>img{
        width: 50%;
        rotate: 90deg;
    }
}
main .section .scroll-left-button{
    left: 10px;
    visibility: hidden;
}
main .section .scroll-right-button{
    right: 10px;
    &>img{
        rotate: -90deg;
    }
}
main hr{
    border: 1px solid var(--accent_color);
}



footer{
    background-color: rgb(130, 183, 227);
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
footer .socials{
    & p{
        display: flex;
        align-items: center;
        margin: 3PX;
        gap: 5px;
    }
}
footer .copyright{
    position: absolute;
    bottom: 10px;
}