*{margin: 0;}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: sticky;
    top: 0px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: greenyellow;
}
.header-top form input{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 20px;
    padding: 0px, 10px;
    width: 250px;
    height: 25px;
}
.header-top form input::placeholder{
    font-size: 11pt;
    text-align: center;
}
nav{
    width: 100%;
}
nav ul{
    display: flex;
    background-color: white;
}
nav ul li{
    list-style: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

main .section{
    padding: 10px;
    overflow: hidden;
}
main .section .book-array{
    display: flex;
    padding: 10px;
    gap: 50px;
}
main .section .book{
    transition: scale, 0.3s;
}
main .section .book:hover{
    transform: scale(1.1);
}