*{
    margin: 0;
    --background_color: white;
    --main_color: greenyellow;
    --accent_color: black;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background_color);
    color: black;
}
header{
    position: sticky;
    top: 0px;
    z-index: 2;
    width: 100%;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--main_color);
}
.header-top form{
    position: relative;
    background-color: var(--background_color);
    border: 1px solid black;
    border-radius: 20px;
    padding: 0px, 10px;
    width: 250px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-top form button{
    position: relative;
    top: 3px;
    background-color: unset;
    border: unset;
}
.header-top form input{
    background-color: unset;
    border: unset;
    width: 100%;
    height: 100%;
}
.header-top form input::placeholder{
    font-size: 11pt;
    text-align: center;
}
nav{
    width: 100%;
}
nav ul{
    display: flex;
    background-color: var(--background_color);
}
nav ul li{
    list-style: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: inherit;
}
nav li img{
    /* filter: invert(); */
}


main .section{
    position: relative;
    padding: 10px;
    overflow: hidden;
    justify-self: center;
    width: 90%;
}
main .section .book-array{
    display: flex;
    padding: 10px;
    gap: 50px;
    overflow-x: auto;
}
main .section .book{
    transition: scale, 0.3s;
}
main .section .book:hover{
    transform: scale(1.1);
}
main .section .scroll-left-button, main .section .scroll-right-button{
    position: absolute;
    z-index: 1;
    height: 70%;
    width: 100px;
    opacity: 0.5;
    border: unset;

    &:hover{
        opacity: 0.9;
        transform: scale(1.1);
    }

    &>img{
        width: 50%;
        rotate: 90deg;
    }
}
main .section .scroll-left-button{
    left: 0px;
    visibility: hidden;
}
main .section .scroll-right-button{
    right: 0px;
    &>img{
        rotate: -90deg;
    }
}