*{
    margin: 0px;
    background-color: rgb(15, 15, 15);
    --form_background_color: rgb(30,30,30);
    --glow_color: greenyellow;
    --button_cokor: #2ff328;
    --text_shadow: green;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100vw;
    height: 80vh;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 10px 40px;
    gap: 25px;
    border: 2px solid var(--glow_color);
    border-radius: 30px;
    background-color: var(--form_background_color);
    box-shadow: 0 0 10px 3px var(--glow_color);
    color: white;
}
form input{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    height: 25px;
}
form input::placeholder{
    font-size: 11pt;
}
form button{
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 12px;
    font-size: 14pt;
    margin-top: 10px;
    background-color: var(--button_cokor);
}
form button:hover{
    background-color: black;
    color: var(--button_cokor);
    box-shadow: 0 0 5px 2px var(--glow_color);
}
p,a{
    background-color: inherit;
}


main div{
    display: flex;
    justify-content: center;
    align-items: center;
}
main div h1{
    font-family:  sans-serif;
    font-size: 32pt;
    color: white;
    text-shadow: -2px -2px 2px var(--text_shadow), 2px -2px 2px var(--text_shadow), -2px 2px 2px var(--text_shadow), 2px 2px 2px var(--text_shadow);
}